html {
  font-family: 'Cairo', sans-serif;
  margin: 0 auto;
  line-height: 1.6;
}

h1,h2,h3,h4,h5,h6 {
  color: rgb(13, 46, 5);
  line-height: 1.2;
}

h2 {
  font-weight: 400;
  font-size: 16px;
}

body {
  background-color: rgb(255, 140, 0);
  animation-name: botao;
  animation-duration: 1s;
}

.quiz-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.container-quiz {
  text-align: center;
  position: relative;
  padding: 20px 25px;
  background-color: rgb(255, 254, 254);
  position: relative;
  border: 15px groove darkgreen;
  border-radius: 0px 0px 10px 10px;
  width: 75%;
  height: 75%;
  margin: 0 auto;
}

.container-question {
  text-align: center;
  position: relative;
  margin: 0 auto;
  margin-top: 5px;
  padding: 20px 25px;
  background-color: rgb(255, 254, 254);
  position: relative;
  border: 10px groove darkgreen;
  border-radius: 10px 10px 0px 0px;
  width: 75%;
  height: 75%;
  font-weight: bold;
}

.container-question .question {
  color: rgb(13, 46, 5);
}

.container-choice {
  position: relative;
  margin: 0 auto;
  position: relative;
  padding: 10px 25px;
  background-color: rgb(255, 254, 254);
  position: relative;
  border: 5px groove darkgreen;
  border-radius: 0px 0px 10px 10px;
  width: 75%;
  height: 75%;

}

.option {
  position: relative;
  padding: 20px 25px;
  background-color: rgb(255, 254, 254);
  position: relative;
  border: 2px groove darkgreen;
  border-radius: 10px 10px 10px 10px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: left;
  margin: 0px 0px 5px 0px;
  flex-flow: column wrap;
}

.container-btn {
  display: flex;
  justify-content: space-evenly;
}

.btn-tentar {
  margin-top: 10px;
  border: 2px groove darkgreen;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  width: 40%;
  background-color: rgb(16, 66, 4);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.container-btn #tentar {
  margin-top: 10px;
  border: 2px groove darkgreen;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  width: 20%;
  background-color: chartreuse;
  color: rgb(13, 46, 5);
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.footer .copyright {
  text-transform: capitalize;
}

@keyframes botao {
  from {background-color: red;}
  to {background-color: yellow;}  
}